{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <h1>Create Ticket</h1>

    <br>

    <form method="POST">

        {% csrf_token %}

        {% for field in form %}

            <div class="form-group">

                <label>{{ field.label }}</label>

                <br>

                {{ field }}

                {% if field.errors %}

                    <div class="error-message">

                        {% for error in field.errors %}

                            <p>{{ error }}</p>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>

            <br>

        {% endfor %}

        <button type="submit">
            Create Ticket
        </button>

    </form>

</div>

{% endblock %}

