{% extends 'base.html' %}

{% block content %}

<h1>All Support Tickets</h1>

<br>

{% if tickets %}

    {% for ticket in tickets %}

        <div class="card">

            <h2>{{ ticket.title }}</h2>

            <br>

            <p>{{ ticket.description }}</p>

            <br>

            <!-- STATUS BADGE -->

            <span class="badge
                {% if ticket.status == 'Open' %}
                    open
                {% elif ticket.status == 'In Progress' %}
                    progress
                {% else %}
                    resolved
                {% endif %}
            ">
                {{ ticket.status }}
            </span>

            <!-- PRIORITY BADGE -->

            <span class="badge
                {% if ticket.priority == 'Low' %}
                    low
                {% elif ticket.priority == 'Medium' %}
                    medium
                {% else %}
                    high
                {% endif %}
            ">
                {{ ticket.priority }}
            </span>

            <br><br>

            <p>
                <strong>Category:</strong>
                {{ ticket.category }}
            </p>

            <p>
                <strong>Due Date:</strong>
                {{ ticket.due_date }}
            </p>

            <p>
                <strong>Created By:</strong>
                {{ ticket.created_by }}
            </p>

            <!-- SHOW BUTTONS ONLY TO OWNER OR ADMIN -->

            {% if request.user == ticket.created_by or request.user.is_superuser %}

                <div class="ticket-actions">

                    <a href="/tickets/update/{{ ticket.id }}/">
                        Edit
                    </a>

                    <a href="/tickets/delete/{{ ticket.id }}/">
                        Delete
                    </a>

                </div>

            {% endif %}

        </div>

    {% endfor %}

{% else %}

    <div class="card">

        <h2>No Tickets Available</h2>

        <br>

        <p>
            Create your first support ticket.
        </p>

    </div>

{% endif %}

{% endblock %}
