@login_required
def update_ticket(request, pk):

    ticket = get_object_or_404(Ticket, id=pk)

    # ALLOW:
    # ADMIN
    # TICKET CREATOR
    # ASSIGNED USER

    allowed = (

        request.user.is_superuser or
        ticket.created_by == request.user or
        ticket.assigned_to == request.user

    )

    if not allowed:

        messages.error(

            request,
            'You are not allowed to edit this ticket.'

        )

        return redirect('ticket_list')

    if request.method == 'POST':

        form = TicketForm(

            request.POST,
            instance=ticket,
            user=request.user

        )

        if form.is_valid():

            form.save()

            messages.success(

                request,
                'Ticket updated successfully.'

            )

            return redirect('ticket_list')

    else:

        form = TicketForm(

            instance=ticket,
            user=request.user

        )

    return render(request, 'tasks/update_ticket.html', {

        'form': form

    })

    