*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

.navbar{
    background:#222;
    padding:15px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-right:15px;
    font-weight:bold;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

button{
    padding:10px 15px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#444;
}

input,
textarea,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
}

a{
    color:#222;
}

.ticket-actions{
    margin-top:10px;
}

.ticket-actions a{
    margin-right:10px;
}

@media(max-width:768px){

    .navbar{
        text-align:center;
    }

    .navbar a{
        display:block;
        margin:10px 0;
    }
}

.message{
    background:#d4edda;
    color:#155724;
    padding:15px;
    margin-bottom:20px;
    border-radius:5px;
}


.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-3px);
}

